

.simplegallery {
    margin: 0 auto;
    width: auto;
    overflow: hidden;
}

.simplegallery .content {
    background: #fff;
    position: relative;
    width: 300px;
    overflow: hidden;
    float: left;
}

.simplegallery .content img {
    width: 100%;
}

.simplegallery .thumbnail {
    float: right;
}

.simplegallery .thumbnail .thumb {
    width: 50px;
    height: 50px;
    margin: 0 0 0 0;
    cursor: pointer;
    display: block;
}

.simplegallery .thumbnail .thumb img {
    width: 50px;
}

.simplegallery .thumbnail .last {
    margin: 0;
}
